@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400&family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #26160F;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #d39145 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #26160F;
}

*::-webkit-scrollbar-thumb {
  background-color: #d39145;
  border-radius: none;
  border: 3px none #ffffff;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px) rotateX(180deg);
            transform: translateX(-100px) rotateX(180deg);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px) rotateX(180deg);
            transform: translateX(-100px) rotateX(180deg);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*
animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    }
    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
*/
body {
  font-family: "Lato", sans-serif;
}

.hero .header a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.hero__titles {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 4rem;
  color: #f8f9fa;
}

.hero__titles--1 {
  color: #d39145;
  font-size: clamp(3.8rem, 6vw, 7rem);
  font-weight: 900;
  text-align: center;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.hero__titles--2 {
  text-align: center;
  font-size: clamp(2.3rem, 2vw, 3.5rem);
  font-weight: 500;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.about__container-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
}

.about__container-text h2 {
  color: #d39145;
  font-size: clamp(2.3rem, 7vw, 4.5rem);
  margin-bottom: 1rem;
  font-weight: 700;
}

.about__container-text p {
  color: #f8f9fa;
  font-size: clamp(1.6rem, 4vw, 2.3rem);
  font-weight: 300;
  line-height: 1.6;
}

.menu article .title {
  font-size: clamp(2.8rem, 5vw, 3.4rem);
  font-weight: 700;
  color: #d39145;
}

.menu article .product {
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 2.3rem);
  color: rgba(248, 249, 250, 0.8);
}

.menu article .product .info-product .ingredients {
  font-size: clamp(0.8rem, 5vw, 1.4rem);
  font-weight: 500;
}

footer .footer h2 {
  font-weight: 700;
}

footer .footer p {
  font-weight: 300;
}

footer .footer__info h2 {
  font-size: clamp(3.5rem, 6vw, 4.5rem);
  color: #d39145;
}

footer .footer__info--icons {
  margin-top: 1.5rem;
}

footer .footer__info--icons a svg {
  margin: 0 .3rem;
  font-size: clamp(2.8rem, 5vw, 3.8rem);
  color: #f8f9fa;
}

footer .footer__contact h2 {
  font-size: clamp(3.5rem, 6vw, 4.5rem);
  color: #d39145;
  text-align: center;
}

footer .footer__contact--child {
  padding: 1rem;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f9fa;
}

footer .footer__contact--child p {
  margin: 0 .5rem;
}

footer .footer__contact--child:last-child {
  padding-bottom: 0;
}

footer .footer__navigation h2 {
  font-size: clamp(3.5rem, 6vw, 4rem);
  color: #d39145;
}

footer .footer__navigation a {
  text-decoration: none;
  color: #f8f9fa;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}

footer .footer__navigation a:not(a:first-child) {
  padding-top: 1rem;
}

footer .plus-info {
  padding: 3rem 2rem;
}

footer .plus-info .rights {
  text-align: center;
  color: #f8f9fa;
  font-weight: 700;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}

footer .plus-info .profile {
  text-align: center;
  color: #f8f9fa;
  font-weight: 300;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}

footer .plus-info .profile a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #d39145;
  font-weight: 700;
}

.hero {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(29, 29, 27, 0.528)), to(rgba(31, 31, 31, 0.47))), url(/img/bg.jpg);
  background-image: linear-gradient(to right bottom, rgba(29, 29, 27, 0.528), rgba(31, 31, 31, 0.47)), url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 3rem 2rem;
}

.hero .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .header .logo {
  width: clamp(6rem, 5vw, 17rem);
}

.hero .header nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #221510;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.hero .header nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

.hero .header nav ul a {
  margin-left: 2rem;
  font-size: 2rem;
  color: #f8f9fa;
  padding: .75em;
  display: block;
  text-decoration: none;
  font-weight: 400;
}

.hero .header nav ul a:hover {
  background: #ebebeb;
}

.hero .header nav .close {
  float: right;
  margin: 2.3em 2.3em;
}

.hero .header .open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (min-width: 76.8em) {
  .hero .header .toggle, .hero .header .close {
    display: none;
  }
  .hero .header nav {
    height: auto;
    width: auto;
    background-color: transparent;
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .hero .header nav ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .header nav ul a {
    text-transform: none;
  }
  .hero .header nav ul a:hover {
    background: transparent;
    color: #d39145;
  }
}

.about {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 85%;
  margin-bottom: 2rem;
}

.about__container-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__container-image img {
  width: 100%;
  border-radius: 1rem;
}

.about__container--1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about__container--2 {
  padding-bottom: 8rem;
}

.about__container--2 .about__container-text {
  margin: 1.5rem 0;
}

@media (min-width: 102.4em) {
  .about__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .about__container--1 {
    margin-top: 3rem;
  }
  .about__container--1 .about__container-text {
    grid-column: 2 / -1;
    margin-left: 4rem;
    text-align: start;
    max-width: 80%;
  }
  .about__container--2 {
    padding-bottom: 0;
  }
  .about__container--2 .about__container-text {
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 4rem;
    text-align: end;
    max-width: 80%;
  }
}

.menu {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #362118;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  gap: 4rem;
  padding: 3rem;
}

.menu article {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu article .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .7rem 0;
}

.menu article .product .info-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .menu {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
}

footer {
  background-color: #221510;
}

footer .footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

footer .footer__info {
  margin-top: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

footer .footer__contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 102.4em) {
  footer .footer {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  footer .footer__info {
    margin-bottom: 10rem;
  }
}
/*# sourceMappingURL=main.css.map */