@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #26160F;
}

/*
@media only screen and (max-width: $bp-longest){
    html{
        font-size: 50%;
    }

    @media only screen and (max-width: 375px){
    html{
        font-size: 45%;
    }
}
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px) rotateX(180deg);
            transform: translateX(-100px) rotateX(180deg);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px) rotateX(180deg);
            transform: translateX(-100px) rotateX(180deg);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*
animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    }
    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
*/
/*.btn{
    height: 6rem;
    width: 25rem;
    border: none;
    border-radius: 50rem;
}
*/
@media only screen and (max-width: 48rem) {
  .nav__navigation-links {
    display: none;
  }
}

body {
  font-family: 'Lato', sans-serif;
}

.header__hero-titles {
  padding: 0 4rem;
  color: #f8f9fa;
}

.header__hero-titles--1 {
  color: #d39145;
  font-size: clamp(3.8rem, 6vw, 7rem);
  font-weight: 700;
  text-align: center;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header__hero-titles--2 {
  text-align: center;
  font-size: clamp(2.3rem, 2vw, 3.5rem);
  font-weight: 400;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.about__info-titles {
  background-color: rgba(38, 22, 15, 0.7);
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__info-titles--1 {
  text-align: center;
  margin-bottom: 2.3rem;
  font-weight: 700;
  font-size: clamp(3.2rem, 5vw, 5rem);
  color: #d39145;
}

.about__info-titles--2 {
  text-align: justify;
  font-size: clamp(1.5rem, 3vw, 2.3rem);
  color: #f8f9fa;
  font-weight: 400;
}

.beer__info-titles--1 {
  text-align: center;
  margin-bottom: 2.3rem;
  font-weight: 700;
  font-size: clamp(3.2rem, 5vw, 5rem);
  color: #d39145;
}

.beer__info-titles--2, .beer__info-titles--3 {
  margin: 2rem 0;
  text-align: justify;
  font-size: clamp(1.5rem, 3vw, 2.3rem);
  color: #f8f9fa;
  font-weight: 400;
}

.beer__info-titles--2 span, .beer__info-titles--3 span {
  color: #d39145;
}

.footer__left-info {
  color: #f8f9fa;
}

.footer__left-info h2 {
  font-size: clamp(3rem, 6vw, 5rem);
}

.footer__left-info p {
  text-align: center;
  font-size: clamp(1.3rem, 3vw, 2.3rem);
}

.footer__center a {
  font-size: clamp(2.8rem, 5vw, 5rem);
  color: #f8f9fa;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(29, 29, 27, 0.528)), to(rgba(31, 31, 31, 0.47))), url(/img/bg.jpg);
  background-image: linear-gradient(to right bottom, rgba(29, 29, 27, 0.528), rgba(31, 31, 31, 0.47)), url(/img/bg.jpg);
  background-size: cover;
  background-position: center;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
}

.header .nav__logo {
  width: clamp(6rem, 5vw, 17rem);
  -o-object-fit: cover;
     object-fit: cover;
}

.header .nav .hamburger {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: clamp(2.4rem, 4vw, 5rem);
  padding: 1rem 2rem;
  cursor: pointer;
}

.header .nav .hamburger:focus {
  outline: none;
}

.header .nav__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.header .nav__navigation-links {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: clamp(1.2rem, 4vw, 2.7rem);
  color: #f8f9fa;
}

.header .nav__navigation-links:hover {
  color: #d39145;
}

@media (max-width: 768px) {
  .header .nav__navigation {
    padding-top: 2rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .nav .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav .hamburger {
    display: block;
  }
}

.header__hero {
  height: calc(100vh - 12vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 85%;
  margin-bottom: 2rem;
}

.about__container-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__container-image img {
  width: 100%;
  border-radius: 1rem;
}

.about__container-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
}

.about__container-text h2 {
  color: #d39145;
  font-size: clamp(2.3rem, 7vw, 4.5rem);
  margin-bottom: 1rem;
  font-weight: 700;
}

.about__container-text p {
  color: #f8f9fa;
  font-size: clamp(1.6rem, 4vw, 2.8rem);
  font-weight: 400;
}

.about__container--1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about__container--2 {
  padding-bottom: 8rem;
}

.about__container--2 .about__container-text {
  margin: 1.5rem 0;
}

@media (min-width: 1024px) {
  .about__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .about__container--1 {
    margin-top: 3rem;
  }
  .about__container--1 .about__container-text {
    grid-column: 2 / -1;
    margin-left: 4rem;
    text-align: start;
    max-width: 80%;
  }
  .about__container--2 {
    padding-bottom: 0;
  }
  .about__container--2 .about__container-text {
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 4rem;
    text-align: end;
    max-width: 80%;
  }
}

.footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.footer__info {
  margin-top: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.footer__info h2 {
  font-size: clamp(3.5rem, 6vw, 4.5rem);
  color: #d39145;
}

.footer__info--icons {
  margin-top: 1.5rem;
}

.footer__info--icons a svg {
  margin: 0 .3rem;
  font-size: clamp(2.8rem, 5vw, 3.8rem);
  color: #f8f9fa;
}

.footer__contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__contact h2 {
  font-size: clamp(3.5rem, 6vw, 4.5rem);
  color: #d39145;
  text-align: center;
}

.footer__contact--child {
  padding: 1rem;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f9fa;
}

.footer__contact--child p {
  margin: 0 .5rem;
}

.footer__contact--child:last-child {
  padding-bottom: 0;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__navigation h2 {
  font-size: clamp(3.5rem, 6vw, 4rem);
  color: #d39145;
}

.footer__navigation a {
  text-decoration: none;
  color: #f8f9fa;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}

.footer__navigation a:not(a:first-child) {
  padding-top: 1rem;
}

@media (min-width: 1023px) {
  .footer {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .footer__info {
    margin-bottom: 10rem;
  }
}

footer {
  background-color: #221510;
}

footer .plus-info {
  padding: 3rem 2rem;
}

footer .plus-info .rights {
  text-align: center;
  color: #f8f9fa;
  font-weight: 400;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}

footer .plus-info .profile {
  text-align: center;
  color: #f8f9fa;
  font-weight: 400;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}

footer .plus-info .profile a {
  text-decoration: none;
  color: #d39145;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */