$white-color: #f8f9fa;
$black-color: #1D1D1B;
$gold-color: #d39145;
$dark-gold-color: #26160F;
$dark-brown-color: #221510;

$about-color: #160F05;


$bp-notebook: 102.4em;
$bp-tablet: 76.8em;


$Franklin: 'Libre Franklin', sans-serif;
$Roboto: 'Roboto', sans-serif;

$Lato: 'Lato', sans-serif;
