.about{
    height: min-content;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    &__container{
        display: grid;
        justify-self: center;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        margin-bottom: 2rem;
        &-image{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
                border-radius: 1rem;
            }
        }
    }
    &__container--1{
        align-self: flex-end;
        .about__container-text{
            margin: 1.5rem 0;
            padding: 0 2rem;
        }
    }
    &__container--2{
        padding-bottom: 8rem;
        .about__container-text{
            margin: 1.5rem 0;
            padding: 0 3rem;
        }
    }



    //MEDIA QUERIES

}
@media(min-width: 1024px){
    .about__container{
        display: grid;
        align-self: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        
    }

    .about__container--1{
        margin-top: 3rem;
        .about__container-text{
            grid-column: 2 / -1;
            margin-left: 4rem;
            text-align: start;
            max-width: 85%;
        }
    }
    .about__container--2{
        .about__container-text{
            justify-self: end;
            margin-right: 4rem;
            text-align: end;
            max-width: 80%;
        }
        padding-bottom: 0;
    }
    .about--container{
        &-image--1{
            justify-content: end;
        }
        &-image--2{
            justify-content: start;
        }
    }
}
