.beer{
    min-height: min-content;
    background-color: $dark-gold-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    &__info-titles{
        background-color: rgba($dark-gold-color, 0.7);
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__images{
        padding: 2rem;
        &--1{
            width: 100%;
            }
    }  
    @media only screen and (max-width:1640px) {
        grid-template-columns: 1fr;

        .beer__info-titles{
            grid-row: 1 / 2;
        }
    }
}