.footer{
    min-height: 30vh;
    background-color: $dark-brown-color;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    
    @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-gap: 4rem;
    }
}
