
footer{
    background-color: $dark-brown-color;
    .footer{
        height: min-content;
        
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    
        &__info{
            margin-top: 4rem ;
            align-self: center;
            justify-self: center;
            text-align: center;
        }
        &__contact{
            align-self: center;
            justify-self: center;
        }
        &__navigation{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    
    
        //MEDIA QUERY
        @media(min-width: $bp-notebook){
            height: min-content;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
    
                &__info{
                    margin-bottom:10rem;
                }
        }
    }
}