@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px)  rotateX(180deg);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0) rotateX(0deg);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0) ;
    }
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0) ;
    }
}

// BTN ANIMATIONS
/*
animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    }
    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
*/