*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background: $dark-gold-color;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #d39145 #ffffff;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
}

  *::-webkit-scrollbar-track {
    background: $dark-gold-color;
}

  *::-webkit-scrollbar-thumb {
    background-color: $gold-color;
    border-radius: none;
    border: 3px none #ffffff;
}






