@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}


.header__hero-titles{
    padding: 0 4rem;
    color: $white-color;
    &--1{
        color: #d39145;
        font-size: clamp(3.8rem, 6vw, 7rem);
        font-weight: 700;
        text-align: center;
        animation-name: moveInLeft;
        animation-duration: 2s;
    }
    &--2{
        text-align: center;
        font-size: clamp(2.3rem, 2vw, 3.5rem);
        font-weight: 400;
        animation-name: moveInRight;
        animation-duration: 2s;
    }
}
.about__info-titles{
    background-color: rgba($dark-gold-color, 0.7);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--1{
        text-align: center;
        margin-bottom: 2.3rem;
        font-weight: 700;
        font-size: clamp(3.2rem, 5vw, 5rem);
        color: $gold-color;
    }
    &--2{
        text-align: justify;
        font-size: clamp(1.5rem, 3vw, 2.3rem);
        color: $white-color;
        font-weight: 400;
    }
}

.beer__info-titles{
    &--1{
        text-align: center;
        margin-bottom: 2.3rem;
        font-weight: 700;
        font-size: clamp(3.2rem, 5vw, 5rem);
        color: $gold-color;
    }
    &--2,
    &--3{
        margin: 2rem 0;
        text-align: justify;
        font-size: clamp(1.5rem, 3vw, 2.3rem);
        color: $white-color;
        font-weight: 400;
        span{
            color: $gold-color;
        }
    }
}

.footer__left-info{
    color: $white-color;
    h2{
        font-size: clamp(3rem, 6vw, 5rem);
    }
    p{
        text-align: center;
        font-size: clamp(1.3rem, 3vw, 2.3rem);
    }
}
.footer__center{
    a{
        font-size: clamp(2.8rem, 5vw, 5rem);
        color: $white-color;
    }
}