@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400&family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
    font-family: $Lato;
}

.hero{
    .header{
        a{
            font-family: $Lato;
            font-weight: 300;
        }
    }
    

    &__titles{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 4rem;
        color: $white-color;
        &--1{
            color: #d39145;
            font-size: clamp(3.8rem, 6vw, 7rem);
            font-weight: 900;
            text-align: center;
            animation-name: moveInLeft;
            animation-duration: 2s;
        }
        &--2{
            text-align: center;
            font-size: clamp(2.3rem, 2vw, 3.5rem);
            font-weight: 500;
            animation-name: moveInRight;
            animation-duration: 2s;
            
        }
    }

}


.about{
    &__text{
        h2{
            font-size: clamp(2.5rem, 5vw, 3.3rem);
            text-align: center;
            color: $gold-color;
            margin-bottom: 1.5rem;
        }
        p{
            font-size: clamp(1.3rem, 5vw, 2rem);
            text-align: justify;
            color: $white-color;
        }
    }
}



.menu{
    article{
        .title{
            font-size: clamp(2.8rem, 5vw, 3.4rem);
            font-weight: 700;
            color: $gold-color;
        }
        .product{
            font-weight: 700;
            color: rgba($white-color, .8);
            .info-product{
                .name{
                    font-size: clamp(1.6rem, 5vw, 2.3rem);
                }
                .ingredients{
                    font-size: clamp(.2rem, 5vw, 1.2rem);
                    font-weight: 500;
                }
            }
            .price{
                font-size: clamp(1rem, 5vw, 1.6rem );
            }
        }
    }
}









footer{
    .footer{
        //GENERALS
        h2{
            font-weight: 700;
        }
        p{
            font-weight: 300;
        }

        &__info{
            h2{
                font-size: clamp(3.5rem, 6vw, 3.5rem);
                color: $gold-color;
            }
            &--icons{
                margin-top: 1.5rem;
                
                a{
                    svg{
                        margin: 0 .3rem;
                        font-size: clamp(2.8rem, 5vw, 3.4rem);
                        color: $white-color;
                        
                    }
                }
            }
        }
    
        &__contact{

            h2{
                font-size: clamp(3.5rem, 6vw, 3.5rem);
                color: $gold-color;
                text-align: center;
            }
            &--child{
                padding: 1rem;
                font-size: clamp(1.4rem, 5vw, 2rem);
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white-color;
                i{
                    text-align: start;
                }
                p{
                    text-align: center;
                    margin: 0 2rem;
                }
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }
    
        &__navigation{

            h2{
                align-self: center;
                font-size: clamp(3.5rem, 6vw, 3.5rem);
                color: $gold-color;
                margin-bottom: .5rem;
            }
            a{
                text-align: center;
                text-decoration: none;
                color: $white-color;
                font-size: clamp(1.8rem, 5vw, 2.5rem);
                line-height: 1.2;
            }
        }
    }

    .plus-info{
        padding: 3rem 2rem;
        .rights{
            text-align: center;
            color: $white-color;
            font-weight: 700;
            font-size: clamp(1.8rem, 5vw, 2.5rem);
        }
        .profile{
            text-align: center;
            color: $white-color;
            font-weight: 300;
            font-size: clamp(1.8rem, 5vw, 2.5rem);
            a{
                font-family: $Lato;
                text-decoration: none;
                color: $gold-color;
                font-weight: 700;
                
            }
            
        }
    }
}